#Autosave files
*~

#Build/test output
obj
bin
test-results

#Other Files
_UpgradeReport_Files
UpgradeLog.*

#Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user
# ReSharper
*_Resharper.*
*.Resharper
# dotCover
*.dotCover*
.designer.cs

#Package Folder
packages
